html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 14px; }

.wakanow-logo{
    width: 12%;
    padding: 20px 50px;

}
.login-form {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.3);
    padding: 40px 40px;
    width: 460px;
    height: 395px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
}
.card-tittle{
    margin-left: -18px;
}
.login-form .example-card{
    padding: 20px 50px;
    box-shadow: none;
}

.btn-button {
    background-color: white; 
    color: #2D9CDB; 
    border: 1px solid #2D9CDB;
    padding: 12px 70px;
  }
  
  .btn-button:hover {
    background-color: #2D9CDB;
    color: white;
  }
